<div class="booyah-box col-8 offset-2">
  <h1>What is your favorite season?</h1>
  <%= simple_form_for @page do |f| %>
    <%= f.input :season, label: "Which one?", placeholder: "Spring, Summer, Fall or Winter?" %>
    <%= f.input :reason, label: "Why is it your favorite?", placeholder: "Not too hot, not too cold!" %>
    <%= f.input :memory, label: "What is your fondest memory of that season?", placeholder: "My 6th Birthday." %>
    <br />
    <%= f.submit 'Add my favorite', class: 'btn btn-primary' %>
  <% end %>
</div>